body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
}

img {
    width: 200px; /* Ajusta el tamaño de la imagen según tu preferencia */
    height: auto;
    margin: 20px 0;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #3498db; /* Azul - Puedes ajustar el color según tu preferencia */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #2980b9; /* Cambia el color al pasar el ratón sobre el enlace */
}
