body {
    font-family: 'Medianoche', cursive; /* Fuente estilo Medianoche */
}

#respuesta {
    text-align: center; /* Centrar texto dentro del div */
}

button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

#btnCargarP {
    background-color: #4CAF50;
}

#btnCargarA {
    background-color: #337ab7;
}

#btnLimpiar {
    background-color: red;
}

button:hover {
    opacity: 0.8;
}