body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-container {
    text-align: center;
    margin-top: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

#consulta {
    display: block;
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
}

#btnConsulta, #btnLimpiar {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

#btnConsulta {
    background-color: #3498db;
    color: #fff;
}

#btnLimpiar {
    background-color: #e74c3c;
    color: #fff;
}

.resultado-container {
    text-align: center;
}

.resultado-container > div {
    margin-bottom: 10px;
}

.resultado-label {
    font-weight: bold;
}
