body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #3498db;
}

#controles {
    margin-bottom: 20px;
}

label {
    color: #ecf0f1;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#infoUsuario {
    padding: 20px;
    background-color: #34495e;
    border-radius: 5px;
    width: auto;
    margin: 0 auto;
}
