body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #3498db;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#contenedor-tabla {
    overflow-x: auto;
}

#detallesUsuariosTable {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#detallesUsuariosTable {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#detallesUsuariosTable th, #detallesUsuariosTable td {
    border: 1px solid #666;
    padding: 10px;
    text-align: left;
}

#detallesUsuariosTable th {
    background-color: #555;
    color: #fff;
}

#detallesUsuariosTable tr:nth-child(even) {
    background-color: #444;
}

#detallesUsuariosTable tr:nth-child(odd) {
    background-color: #333;
}

.columna1 {
    width: 5%;
}

.columna2 {
    width: 15%;
}

.columna3 {
    width: 10%;
}

.columna4 {
    width: 15%;
}

.columna5 {
    width: 20%;
}

.columna6 {
    width: 10%;
}

.columna7 {
    width: 15%;
}

.columna8 {
    width: 10%;
}